.infinite-list {
    overflow: auto;
    width: 250px;
    background: lime;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.infinite-list-content {
    margin: 0;
    position: absolute;
}

.infinite-list-item {
    font-family: sans-serif;
    font-size: 6px;
    height: 10px;
}
